<nav class="navbar navbar-light b-primary">
    <div class="container-fluid">

        <h2>Restauent Record APP</h2>
        <div class="d-flex">
            <button class="btn btn-success">Add Restaurent</button>
        
        </div>
    </div>
</nav>

<!--table shown here-->
<table>
    <thead>
        <tr>
            <th scope="col">Restaurent ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Contact Number </th>
            <th scope="col">Address</th>
            <th scope="col">Services</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>101</td>
            <td>Anjali</td>
            <td>anjali@gmail.com</td>
            <td>8624085248</td>
            <td>xyz</td>
            <td>tea and cofee</td>
            <td>
                <button class="btn bt-info">Edit</button>
                <button class="btn bt-danger">Delete</button>
            </td>

        </tr>
</table>    

